<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog-form </title>
</head>
<body>
<form action="/add-data/" method="post">
        <h3>Blog Information</h3>
        header<br>
        <input type="text" name="header"><br>

    title<br>
        <input type="text" name="title"><br>

        description<br>
        <textarea name="description"></textarea><br>

        body1<br>
        <textarea name="body1"></textarea><br>

    body2<br>
        <textarea name="body2"></textarea><br>

    body3<br>
        <textarea name="body3"></textarea><br>

    body4<br>
        <textarea name="body4"></textarea><br>

    body5<br>
        <textarea name="body5"></textarea><br>

        image<br>
        <textarea name="image"></textarea><br>

        category<br>
        <textarea name="category"></textarea><br>

        video<br>
        <textarea name="video"></textarea><br>
        <input type="submit" value="submit"><br>
    </form>
      <h5><a href="/show-data/">show data</a></h5>

</body>
</html>